a{
	text-decoration:none;
	color:#006400;
}
a:hover{  
	text-decoration: underline;  
	text-decoration-color: red;  
	text-decoration-thickness: 2px;  
}

<link rel="stylesheet" type="text/css" href="../../css/astyle.css">